<div class="card">
  <div class="card-header">
    Editar Teléfono
  </div>
  <div class="card-body">
    <form ngNativeValidate [formGroup]="phoneForm" (ngSubmit)="sendData()">

      <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input required type="text" class="form-control" formControlName="phone" placeholder="Escribe el teléfono">
      </div>

      <div class="btn-group">
        <a class="btn btn-secondary" routerLink="/contacts/view/{{this.phoneForm.value.id_contact}}">Regresar</a>
        <button class="btn btn-success" type="submit">Editar</button>
      </div>

    </form>
  </div>
</div>
